$primary: #aa2238
//$secondary: red
$layout2-shadow: none
.h1
  font-size: 2rem !important
  //text-align: center
.active
  background: var(--q-warning)
.q-table
  thead
    tr
      th
        text-align: start
        font-weight: bold
        border-bottom: 1px solid gray
  tbody
    tr
      td
        text-align: left

table
  width: 100%
  max-width: 100%
  //font-size: .8em

  border-collapse: collapse
  tr
    border-bottom: 1px solid silver
    td
      padding: 5px
