//$primary: orange
//$secondary: red
$layout2-shadow: none
.h1
  font-size: 2rem !important
  text-align: center
.active
  background: var(--q-secondary)
.q-table
  thead
    tr
      th
        text-align: start
        font-weight: bold
        border-bottom: 1px solid gray
  tbody
    tr
      td
        text-align: left
